// Sections
.astroid-section {
	padding: 80px 0;
	@include media-breakpoint-down(md) {
		padding: 50px 0;
	}
}

// Module Title
.module-title {
	margin-bottom: 40px;
}

.split-title-module .split-title {
	margin-bottom: 40px;
	[class*="split-"] {
		font-size: inherit;
		font-weight: inherit;
	}
	[class*="split-1"] {
		font-size: 18px;
		line-height: normal;
		margin-bottom: 10px;
	}
}

// Intro Features
.intro-features {
	.features {
		.item {
			padding: 30px 15px;
			border: 1px solid $light;
			margin-top: 30px;
		}
		i {
			width: 60px;
			height: 60px;
			line-height: 60px;
			color: $primary;
			font-size: 1.5rem;
			border-radius: 100%;
			border: solid 2px $primary;
		}
		.title {
			margin-top: 30px;
			margin-bottom: 0;
		}
	}
}

// BG Image Section
.bg-image-section {
	position: relative;
	text-align: center;
	color: $white;
	padding: 150px 0;
	@include media-breakpoint-down(md) {
		padding: 50px 0;
	}
	&:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		display: block;
		background-color: rgba(0, 0, 0, 0.55);
	}
	.video-modal {
		i {
			color: $white;
			font-size: 1.5rem;
			background: $primary;
			width: 70px;
			height: 70px;
			line-height: 70px;;
			border-radius: 100%;
			margin: 20px 0 0;
		}
		.modal-content {
			background-color: transparent;
			border: 0;
			.modal-header {
				border: 0;
				background-color: transparent;
				padding: 10px 16px;
				border-radius: 0;
				.close {
					opacity: 1;
					padding: 0 0 15px 0;
				}
				span {
					font-size: 42px;
					color: $white;
					padding: 0;
				}
			}
			.modal-body {
				padding: 0;
			}
		}
	}
}

// Font Awesome List Style
ul.fa-ul {
	margin-bottom: 0;
	li {
		font-weight: 600;
		padding: 2px 0;
		&:before {
			content: "\f0a9";
			font-family: 'Font Awesome\ 5 Free';
			font-weight: 700;
			color: $primary;
			font-size: 14px;
			margin-right: 10px;
		}
	}
}

// Astroid Banner
.astroid-banner {
	text-align: center;
	&:before {
		content: "";
		position: absolute;
		width: 100%;
		height: 100%;
		left: 0;
		top: 0;
		display: block;
		background-color: rgba(0, 0, 0, 0.55);
	}
	.astroid-banner-title {
		position: relative;
	}
	.astroid-banner-subtitle {
		position: relative;
		font-size: 22px;
		font-weight: 500;
	}
}

// Blockquote
blockquote {
    border-color: $primary;
	padding: 10px 20px;
}

// btn
.btn {
	white-space: normal;
}

// pagination
nav .pagination {
	li a {
		border-color: $light;
		&:hover {
			color: $white;
			background-color: $primary;
		}
	}
	.page-item:last-child {
		.page-link {
			border-radius: 0;
		}
	}
}
nav + p.counter.d-flex.justify-content-center {
	margin-bottom: 0 !important;
}
// Pager
ul.pager.pagenav {
	a.hasTooltip {
		@extend .btn;
		@extend .btn-secondary;
	}
}

// Accordion
.accordion {
	.card {
		border: 1px solid $light;
		border-radius: 0;
		.card-body {
			border-bottom: 1px solid $light;
		}
		.card-header {
			background-color: transparent;
			border-radius: 0;
			.btn-link {
				color: $secondary;
				text-decoration: none;
			}
		}
		button {
			position: relative;
			text-align: left;
		}
		button:after {
			content: "-";
			display: block;
			position: absolute;
			font-size: 38px;
			top: -7px;
			right: 0;
			width: auto;
			height: auto;
		}
		button.btn.collapsed:after {
			content: "+";
			font-size: 30px;
		}
	}
	.card:not(:last-child) {
		margin-bottom: 30px;
	}
}

// Box-s1
.moduletable.box-s1 {
	padding: 48px;
	box-shadow: $box-shadow-sm;
	border-top: 4px solid $primary;
	form {
		margin-top: 30px;
	}
	@include media-breakpoint-down(md) {
		margin-top: 50px;
	}
}